<p style="padding-left:20px;">
Employees
</p>
<div *ngIf="emp">
<p-table [value]="emp  | paginate :{ itemsPerPage:10 , currentPage:p }">

  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of cols">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-employee let-details="rowData" let-i="rowIndex">
    <tr>
      <td *ngFor="let col of cols">
        <span>{{employee[col.field]}}</span>
      </td>
    </tr>
     </ng-template>
</p-table>
<!-- <ul>
      <li *ngFor="let item of emp | paginate: { itemsPerPage: 10, currentPage: p }">
      {{item.employee_id}}-{{item.firstname}} {{item.lastname}}
</li>
</ul> -->
<pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
